<h1 style="background-color: transparent; align-items: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; position: relative; margin-top: 100px;">
    Home
</h1>

<%if(message){ %>
  <div class="alert alert-success" role="alert">
      <%= message %>


  </div>
  <%}%>





<!-- Form to add habits -->
<form action="/habit/create" method="post" style="position:relative ; ">
    <div class="mb-3">
      <label for="name" class="form-label" style="position:relative ; font-weight: 700; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:large ;">Which Habit you want to add?</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Describe your habit here.." style="width: 400px;" required>
      
    </div>

    <div class="mb-3">
        <label for="desc" class="form-label" style="position:relative ; font-weight: 700; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:large ;">Description</label>
        <input type="text" class="form-control" id="desc"name="desc" placeholder="Tell me your goal" style="width: 400px;" required>
        
      </div>

      
    
    <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;" style="position:relative ; display: flex; align-items: center;">Add Habit</button>
  </form> 
  <a href="/habit/weekview" style="font-size: medium; padding: 10px 40px 10px 30px; background-color: rgb(11, 77, 11); color: white; border-radius: 10px; margin-top: 50px;display: inline; width: 200px; text-decoration: none; position: relative;">View Your Weekly Activities</a>
  




